extends layout

block content
	include ./navigation.jade
	
	div.page
		div.content-container
			div.left
				div This is the about section.
			div.right
				p Alohamora wand elf parchment, Wingardium Leviosa hippogriff, house dementors betrayal. 
				p Holly, Snape centaur portkey ghost Hermione spell bezoar Scabbers. 
				p Peruvian-Night-Powder werewolf, Dobby pear-tickle half-moon-glasses, Knight-Bus. Padfoot snargaluff seeker: Hagrid broomstick mischief managed. Snitch Fluffy rock-cake, 9 ¾ dress robes I must not tell lies.

script(src='javascripts/bundle.js')
script(type='text/template' id='test-template')
	div Hello there	