extends layout

block content
	include ./navigation.jade
	div.page
		div.content-container
			div.left
				div.HELLO
			div.right
				p Alohamora wand elf parchment, Wingardium Leviosa hippogriff, house dementors betrayal. 
