extends layout

block content

	div#intro
		div.bg
			div.left
				div.text.vertical Karynn Elio Tran
			div.right
				div.rubix.vertical
					ul
						li
							div.rubix-cube.rubix0
						li
							div.rubix-cube.rubix1
								p.rubix-text.vertical #{test}
						li
							div.rubix-cube.rubix2
						li
							div.rubix-cube.rubix3
								p.rubix-text.vertical portfolio
						li
							div.rubix-cube.rubix4
						li
							div.rubix-cube.rubix5
								p.rubix-text.vertical experience
						li
							div.rubix-cube.rubix6
						li
							div.rubix-cube.rubix7
								p.rubix-text.vertical contact
						li
							div.rubix-cube.rubix8