<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>karynn elio tran || web developer</title>
</head>
<body>
	<div id="app">
		<div class="page">
			<div class="content-container">
				<div class="content"></div>
			</div>
		</div>
	</div>

	<script type="text/x-tmpl" id="intro-template">
		<div class="intro-container vertical">
			<div class="intro-grid">
				<ul class="cards-ul">
					{% for (var i=0; i < data.length; i ++) { %}
						<li>
							<div class="flip-container">
								<div class="flipper">
									<div class="front" style="background: url('images/{%=data[i].front + '.jpg'%}') no-repeat; background-size: contain; background-position: center"></div>
									<div class="back" style="background: url('images/{%=data[i].back + '.jpg'%}') no-repeat; background-size: contain; background-position: center"></div>
								</div>
							</div>
						</li>
					{% } %}
				</ul>
			</div>
			<div class="intro-text">
				<div class="last-name"> elio tran</div>
				<div class="start">Hello!</div>
			</div>
		</div>
	</script>

	<script type="text/x-tmpl" id="nav-template">
		<div class="nav">
			<div class="logo">karynn elio tran</div>
			<ul class="nav-ul">
				{% for (var i=0; i < data.length; i ++) { %}
					<div class="{%= data[i] %}-nav-div nav-div">
						<li class="nav-li {%= data[i] %}" id="{%= data[i] %}">{%= data[i] %}</li>
						<div class="nav-vertical"></div>
					</div>
				{% } %}
			</ul>
		</div>
	</script>

	<script type="text/x-tmpl" id="nav-template">
		<div class="nav">
			<div class="logo">karynn elio hsjdhfksdftran</div>
			<ul class="nav-ul">
				{% for (var i=0; i < data.length; i ++) { %}
					<li class="nav-li {%= data[i] %}" id="{%= data[i] %}">{%= data[i] %}
					</li>
				{% } %}
			</ul>
		</div>
	</script>

	<script type='text/javascript' src='vendor/tmpl.min.js' charset='utf-8'></script>
	<script type='text/javascript' src='./javascripts/data.js' charset='utf-8'></script>
	<script type='text/javascript' src='./javascripts/bundle.js' charset='utf-8'></script>
	<link rel="stylesheet" href="./stylesheets/css/style.css">
</body>
</html>