doctype html
html
	head
		title= title

	body
		block content
		script(id='test-template',type='template')
			div Hello
		script(src='javascripts/bundle.js')
		script(src='//localhost:35729/livereload.js')
		
