doctype html
html
	head
		title= title

	body
		block content
		script(type="text/x-tmpl" id="test-template")
			div Hello
		script(src='vendor/tmpl.min.js')
		script(src='javascripts/bundle.js')
		script(src='//localhost:35729/livereload.js')
		
