doctype html
html
	head
		title= title
		link(rel='stylesheet', href='public/stylesheets/style.css')
		script(src='public/javascripts/jquery-1.11.3.js')
		script(src='public/javascripts/app.js')
		script(src='//localhost:35729/livereload.js')	
		script(src=script)
	body
		block content
