doctype html
html
	head
		title= title
		link(rel='stylesheet', href='stylesheets/css/style.css')
		script(src='javascripts/bundle.js')
		//- script(src='public/bundle.js')
		//- script(src='javascripts/lib/jquery-1.11.3.js')
		//- script(src='javascripts/backbone/collections/**.js')
		//- script(src='javascripts/backbone/views/aboutView.js')
		//- script(src='javascripts/backbone/models/**.js')
		//- script(src='javascripts/app.js')
		script(src='//localhost:35729/livereload.js')
	body
		block content

