extends layout

block content
	div.navigation-container
		div.vertical.nav-home karynn elio tran
		ul.navigation-ul
			each nav in navigationData
				li.nav-li
					div.nav-item(class=nav.categoryClass id=nav.navName) #{nav.navName}