@font-face {
  font-family: 'CaviarDreams-Bold';
  src: url("../css/fonts/CaviarDreams-Bold_gdi.eot");
  src: url("../css/fonts/CaviarDreams-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("../css/fonts/CaviarDreams-Bold_gdi.woff") format("woff"), url("../css/fonts/CaviarDreams-Bold_gdi.ttf") format("truetype"), url("../css/fonts/CaviarDreams-Bold_gdi.svg#CaviarDreams-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2265; }

@font-face {
  font-family: 'CaviarDreams-Regular';
  src: url("../css/fonts/CaviarDreams_gdi.eot");
  src: url("../css/fonts/CaviarDreams_gdi.eot?#iefix") format("embedded-opentype"), url("../css/fonts/CaviarDreams_gdi.woff") format("woff"), url("../css/fonts/CaviarDreams_gdi.ttf") format("truetype"), url("../css/fonts/CaviarDreams_gdi.svg#CaviarDreams-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2265; }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(-10px); }
  40% {
    transform: translateY(-5px); }
  50% {
    transform: translateY(-10px); }
  60% {
    transform: translateY(-5px); }
  80% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(-10px); } }

body {
  padding: 0;
  margin: 0;
  font-family: 'CaviarDreams-Regular';
  width: 100%;
  height: 100%; }

.vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

#app {
  /*/ INTRO BOXES /*/
  /* entire container, keeps perspective */
  /* flip the pane when hovered */
  /* hide back of pane during swap */
  /* front pane, placed above back */
  /* back, initially hidden pane */ }
  #app .page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  #app .intro-container {
    width: 510px;
    height: 345px;
    margin: 0 auto; }
  #app .intro-grid {
    width: 100%;
    height: 100%; }
  #app .intro-text {
    width: 534px;
    padding: 10px;
    height: 100px;
    opacity: 0; }
  #app .last-name {
    font-size: 29px;
    letter-spacing: 44px;
    text-align: justify;
    text-transform: uppercase;
    color: darkgray; }
  #app .start {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: purple;
    font-size: 15px;
    color: white;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    position: relative;
    bottom: 0;
    top: 25px;
    cursor: pointer; }
  #app .cards-ul {
    padding: 0;
    margin: 0 auto; }
  #app .cards-ul li {
    list-style-type: none;
    float: left;
    margin: 10px; }
  #app .flip-container {
    perspective: 1000;
    list-style-type: none; }
  #app .flipper {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    position: relative; }
  #app .flip-container, #app .flipper, #app .front, #app .back {
    width: 150px;
    height: 150px; }
  #app .front, #app .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0; }
  #app .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg); }
  #app .back {
    transform: rotateY(180deg); }

#app.on .flipper.init-intro {
  transform: rotateY(180deg);
  transition: transform 1s;
  -webkit-transition: transform 1s; }

#app.on .flipper.init-intro:hover {
  transform: rotateY(0deg); }

#app.on .intro-text.init-intro {
  opacity: 1;
  transition: opacity 1s 1.5s; }

#app.on .start.init-intro {
  opacity: 1;
  animation: bounce 2s 2s infinite; }
