$gray: #494949;
$pink: #FF6160;
$green: #C4C65D;
$purple: #7f2a57;
$blue: #71c5c9;

@font-face {
	font-family:'Chapaza';
	src: url('../css/fonts/Chapaza.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}
@font-face {
	font-family:'Chapaza-Italic';
	src: url('../css/fonts/Chapaza_Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}

@font-face {
	font-family:'CaviarDreams-Bold';
	src: url('../css/fonts/CaviarDreams-Bold_gdi.eot');
	src: url('../css/fonts/CaviarDreams-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/CaviarDreams-Bold_gdi.woff') format('woff'),
		url('../css/fonts/CaviarDreams-Bold_gdi.ttf') format('truetype'),
		url('../css/fonts/CaviarDreams-Bold_gdi.svg#CaviarDreams-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}

@font-face {
	font-family:'CaviarDreams-Regular';
	src: url('../css/fonts/CaviarDreams_gdi.eot');
	src: url('../css/fonts/CaviarDreams_gdi.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/CaviarDreams_gdi.woff') format('woff'),
		url('../css/fonts/CaviarDreams_gdi.ttf') format('truetype'),
		url('../css/fonts/CaviarDreams_gdi.svg#CaviarDreams-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}

@keyframes bounce {
	0% { transform: translateY(0) };
	20% { transform: translateY(-10px) };
	40% { transform: translateY(-5px)};
	50% { transform: translateY(-10px)};
	60% { transform: translateY(-5px)};
	80% { transform: translateY(-10px)};
	100% { transform: translateY(-10px)}
}

body {
	padding: 0;
	margin: 0;
	font-family: 'CaviarDreams-Regular';
	width: 100%;
	height: 100%;
}
.vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#app {
	box-sizing: border-box;
	.page {
		width: 100%;
		height: 100%;
		position: absolute;
	    top: 0;
	    left: 0;
	}
	.content-container {
		width: 80%;
		height: 85%;
		position: relative;
	    margin: 3% auto;
	}
	.content {
		position: relative;
	}
	.padded-content {
		padding: 5%;
		height: 77%;
		overflow: hidden;
	}
	.footer {
		position: absolute;
		bottom: 0;
		height: 0%;
		width: 100%;
	}
	.tm {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 20px;
		font-size: 12px;
		color: white;
	}


	.flip-container {
		perspective: 1000;
		list-style-type: none;
	}
	.flipper {
		transform: rotateY(0deg);
		transform-style: preserve-3d;
		position: relative;
		transition: transform .25s forwards;
	}
	.front, .back {
		backface-visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
	}
	.front {
		z-index: 2;
		transform: rotateY(0deg);
	}
	.back {
		transform: rotateY(180deg);
	}
	
	/*/ NAV /*/
	.logo {
		font-family: 'Chapaza-Italic';
		float: right;
		font-size: 40px;
		color: $gray;
		top: -20px;
    	position: relative;
	}
	.nav {
		position: relative;
		top: 0;
		width: 100%;
		height: 60px;
	}
	.nav-ul {
		padding: 0;
		height: 100%;
	}
	.nav-div {
		height: 35px;
		width: 100px;
		float: left;
		display: inline;
	}
	.nav-vertical {
	    width: 2px;
	    margin: 0 auto;
	}
	.nav-li {
		list-style-type: none;
	    font-size: 15px;
	    text-align: center;
	    margin: 2.5% 2%;
		text-transform: uppercase;
		&.about:hover {
			background: $pink;
			color: white;
		}
		&.portfolio:hover {
			background: $green;
			color: white;
		}
		&.work:hover {
			background: $purple;
			color: white;
		}
		&.contact:hover {
			background: $blue;
			color: white;
		}
	}

}

#app.on {
	.flipper:hover,
	.flipper.init-intro {
		transform: rotateY(180deg);
		transition: transform 1s;
		-webkit-transition: transform 1s;
	}
	.flipper.init-intro:hover {
		transform: rotateY(0deg);
	}
	.flipper:hover {
		transform: rotateY(180deg);
	}
	.content {
		height: 0;
		width: 100%;
		transition: all .25s linear;
		background: #fff;
		border: 1px solid lightgray;
		z-index: 10;
		&.about {
			height: 85%;
			width: 100%;
			border: 2px solid $pink;
			background: #fff;
			transition: all .25s .15s linear; 
		}
		&.portfolio {
			height: 85%;
			width: 100%;
			border: 2px solid $green;
			background: #fff;
			transition: all .25s .15s linear; 
		}
		&.work {
			height: 85%;
			width: 100%;
			border: 2px solid $purple;
			background: #fff;
			transition: all .25s .15s linear; 
		}
		&.contact {
			height: 85%;
			width: 100%;
			border: 2px solid $blue;
			background: #fff;
			transition: all .25s .15s linear; 
		}
	}
	.footer {
		height:0;
		width: 100%;
		&.about {
			background: linear-gradient(
		      rgba(255, 97, 96, 0.25), 
		      rgba(255, 97, 96, 0.25)
		    ),
			url(../../images/test.jpg) no-repeat top left;
			background-size: cover;
			border-top: 2px solid $pink;
			height: 50%;
			transition: all .25s .35s linear; 
		}
		&.portfolio {
			background: linear-gradient(
		      rgba(196, 198, 93, 0.25), 
		      rgba(196, 198, 93, 0.25)
		    ),
			url(../../images/test2.jpg) no-repeat top left;
			background-size: cover;
			border-top: 2px solid $green;
			height: 50%;
			transition: all .25s .5s linear; 
		}
		&.work {
			background: linear-gradient(
		      rgba(127, 42, 87, 0.25), 
		      rgba(127, 42, 87, 0.25)
		    ),
			url(../../images/test3.jpg) no-repeat top left;
			background-size: cover;
			border-top: 2px solid $purple;
			height: 50%;
			transition: all .25s .5s linear; 
		}
		&.contact {
			background: linear-gradient(
		      rgba(113,197,201, 0.25), 
		      rgba(113,197,201, 0.25)
		    ),
			url(../../images/test4.jpg) no-repeat bottom left;
			background-size: cover;
			border-top: 2px solid $blue;
			height: 50%;
			transition: all .25s .5s linear; 
		}
	}
	.nav-vertical {
		height: 0;
		transition: all .25s .35s linear;
		&.about {
			height: 36px;
			background: $pink;
			transition: all .25s linear; 
		}
		&.portfolio {
			height: 36px;
			background: $green;
			transition: all .25s linear; 
		}
		&.work {
			height: 36px;
			background: $purple;
			transition: all .25s linear; 
		}
		&.contact {
			height: 36px;
			background: $blue;
			transition: all .25s linear; 
		}
	}

/*/*INTRO STYLES /*/
.intro-container {
	width: 510px;
	height: 345px;
	margin: 0 auto;
	.intro-grid {
		width: 100%;
		height: 100%;
	}

	.intro-text {
	    width: 534px;
	    padding: 10px;
	    height: 100px;
	    opacity: 0;
	}
	.last-name {
		font-size: 29px;
	    letter-spacing: 44px;
	    text-align: justify;
	    text-transform: uppercase;
	    color: $gray;
	}
	.start {
		width: 490px;
	    left: 0;
	    position: relative;
	    margin: 0;
	    background-color: none;
	}
	.start-icon {
		width: 50px;
	    height: 50px;
	    border-radius: 50%;
	    background-color: $purple;
	    font-size: 15px;
	    color: white;
	    margin: 0 auto;
	    text-align: center;
	    line-height: 50px;
	    position: relative;
	    bottom: 0;
	    top: 25px;
	    cursor: pointer;
	}


	/*/ INTRO BOXES /*/
	.cards-ul {
		padding: 0;
		margin: 0 auto;
	}
	.cards-ul li {
	    list-style-type: none;
	    float: left;
	    margin: 10px;
	}
	.intro-text {
		&.init-intro{
	    	opacity: 1;
	    	transition: opacity 1s 1.5s;
	    }
	}
	.start-icon {
		&.init-intro{
	    	opacity: 1;
	    	// transition: opacity 1s 2s;
	    	animation: bounce 2s 2s infinite;
	    }
	}
	.flip-container, .flipper, .front, .back {
		width: 10.6vw;
		height: 10.6vw;
	}
}

/*/*CONTENT STYLES /*/
	.content {
		.main-copy {
			font-family: 'Chapaza';
			font-size: 25px;
		}
		.sub-copy {
			top: 20px;
		    position: relative;
		    font-size: 17px;
		    width: 50%;
		    float: right;
		    text-align: right;
		}
	}
	
/*/*ABOUT STYLES /*/
	.content.about {
		.main-copy {
			color: $pink;
			font-size: 35px;
		}
		.description-container {
			width: 90%;
			position: relative;
		    margin: 2% auto;
			top: 45px;
		}
		.fact-copy,
		.extrafact-copy {
			font-family: 'CaviarDreams-Regular';
			font-size: 20px;
			text-align: justify;
			text-transform: lowercase;
			color: $gray;
			display: inline;
		}
		.fact-copy {
			text-align: right;
			width: 300px;
			color: $gray;
			padding: 5px 15px;
			border: 1px solid lightgray;
		}
		.extrafact-copy {
			text-align: left;
			letter-spacing: -10px;
			color: transparent;
			transition: all .5s ease-in;
		}
		.description-container:hover .extrafact-copy {
			letter-spacing: 0;
			background: $pink;
			color: white;
			padding: 5px 40px;
			border: 1px solid $pink;
			transition: all .5s ease-in;
		}
		.description-container:hover .fact-copy {
			background: lightgray;
			transition: all .5s ease-in;
		}
	}


/*/*PORTFOLIO STYLES /*/
	.content.portfolio {
		.main-copy {
			color: $green;
		}
		.portfolio-container {
			display: inline;
		    width: 100%;
		    position: absolute;
		    top: 150px;
		}
		.portfolio-cards {
			width: 90%;
			margin: 0 auto;
		}
		.portfolio-proj {
			float: left;
			width: 160px;
			height: 120px;
			margin: 10px;
			position: relative;
		}
		.project-image {
			width: 100%;
			height: 100%;
		    margin: 0 auto;
		}
		.project-title {
			font-family: 'Chapaza-Italic';
			font-size: 20px;
			top: 20px;
			position: relative;
			color: $green;
		}
		.project-description {
			font-size: 13px;
			position: relative;
			top: 30px;
		}
	}


/*/*WORK STYLES /*/
	.content.work {
		.main-copy {
			color: $purple;
		}
		.work-container {
			display: inline;
		    width: 100%;
		    position: absolute;
		    top: 170px;
		    margin: 0 auto;
		}
		.work-cards {
			width: 85%;
			margin: 0 auto;
		}
		.work.flip-container,
		.work.flipper,
		.work.front,
		.work.back {
		    width: 200px;
		    height: 200px;
			margin: 0;
		}
		.work.flip-container {
			margin: 10px;
		}
		.work {
			float: left;
			background: white;
		}
		.work.back {
			border: 1px solid lightgray;
			background: #fff;
			padding: 10%;
			box-sizing: border-box;
		}
		.work-company {
			font-size: 20px;
			font-family: 'Chapaza';
			color: $purple;
		}
		.work-logo {
			width: 55px;
    		height: 35px;
		}
		.work-position {
			font-family: 'Chapaza-Italic';
			font-size: 15px;
		}
		.work-description {
			top: 10px;
			position: relative;
			font-size: 13px;
			text-align: left;
		}
	}


/*/*CONTACT STYLES /*/
	.content.contact {
		.main-copy {
			color: $blue;
		}
	}
}
