@font-face {
	font-family:'CaviarDreams-Bold';
	src: url('../css/fonts/CaviarDreams-Bold_gdi.eot');
	src: url('../css/fonts/CaviarDreams-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/CaviarDreams-Bold_gdi.woff') format('woff'),
		url('../css/fonts/CaviarDreams-Bold_gdi.ttf') format('truetype'),
		url('../css/fonts/CaviarDreams-Bold_gdi.svg#CaviarDreams-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}

@font-face {
	font-family:'CaviarDreams-Regular';
	src: url('../css/fonts/CaviarDreams_gdi.eot');
	src: url('../css/fonts/CaviarDreams_gdi.eot?#iefix') format('embedded-opentype'),
		url('../css/fonts/CaviarDreams_gdi.woff') format('woff'),
		url('../css/fonts/CaviarDreams_gdi.ttf') format('truetype'),
		url('../css/fonts/CaviarDreams_gdi.svg#CaviarDreams-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'CaviarDreams-Regular';
	width: 100%;
	height: 100%;
}
.vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hey {
	color: blue;
}

/*/ INTRO BOXES /*/
/* entire container, keeps perspective */
.cards-ul {
	display: inline;
	width: 600px;
}

.flip-container {
	perspective: 1000;
	list-style-type: none;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 100px;
	height: 100px;
	margin: 10px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

// .about-category {
// 	background: #FF6160;
// }

// .portfolio-category {
// 	background: #C4C162;
// }

// .experience-category {
// 	background: #2a577f;
// }

// .contact-category {
// 	background: #71C5C9;
// }